section{
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(5, 1fr);
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div{
    border: solid 1px black;

}
body{
    display: grid;
    place-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main{
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
}
